/* Inicialmente, ocultamos todas as seções */
#slide, #aprender, #modulos, #praquem, #depoimentos, #plano, #especialista, #faq, #footer, #author {
    display: none;
}

#videoHeader .wrapper .content .text button {
    margin-top: 5rem;
    cursor: not-allowed;
}

#videoHeader .wrapper .content .text button {
    background-color: gray;
    cursor: url('caminho/para/seu-cursor.png'), not-allowed;
}

#videoHeader .assistindo {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -2.6rem;

    display: flex;
    align-items: center;
    gap: .4rem;
}

#videoHeader .assistindo span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;

    font-size: 1.4rem;
}

#videoHeader .assistindo p {
    font-weight: 600;
    color: #fff;

    font-size: 1.2rem;
}

@media (min-width: 1080px) {
    section#videoHeader .wrapper .content .text button {
        margin-top: 8rem;
    }

    section#videoHeader .assistindo {
        bottom: -3.5rem;
    }

    section#videoHeader .assistindo span {
        font-size: 1.8rem;
    }
    
    section#videoHeader .assistindo p {
        font-size: 1.6rem;
    }
}